<ion-view title="Your Applications">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in items" item="item" style="width:100%; margin-left:0%; margin-right:0%;">
                <a class="item item-thumbnail-left" href="" ng-click="openWindow('{{item.name}}')">
                    <img ng-src="{{ item.img }}">
                    <span class="label label-warning" style="float: right;"> v{{ item.version }} </span>
                    <span class="label label-info" style="float: right; margin-right:2px;"> {{ item.os }} </span>
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.info }}</p>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>