<ion-view view-title='<img class="navTitle" src="img/3squared-logo.png" style="max-height:50%;max-width:auto" align="middle" />'>
  <ion-content padding="true">
    <label class="item item-input">
      <p><input type="email" placeholder="Enter a new Email"></p>
    </label>
    <label class="item item-input">
      <p><input type="email" placeholder="Confirm the Email"></p>
    </label>
    <button class="button button-block button-positive">
      Confirm
    </button>
    <p></p>
  </ion-content>
</ion-view>
