<ion-view view-title='<img class="navTitle" src="img/3squared-logo.png" style="max-height:50%;max-width:auto" align="middle" />'>
  <ion-content padding="true">
    <label class="item item-input">
      <p><input type="password" placeholder="Enter a new Password"></p>
    </label>
    <label class="item item-input">
      <p><input type="password" placeholder="Confirm the Password"></p>
    </label>
    <button class="button button-block button-positive" style="background-color:#3B1365">
      Confirm
    </button>
    <p></p>
  </ion-content>
</ion-view>
