<ion-view title='<img class="navTitle" src="img/3squared-logo.png" style="max-height:80%;max-width:80%" />'>
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button" ui-sref="app.settings" ng-click="back()" style="color:#8A72A3;background-color:#D6D7D8">
                Back
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar-dark">
    </ion-header-bar>
    <ion-content padding="true" scroll="false">
        <label class="item item-input">
            <p><input type="password" placeholder="Enter a new Password"></p>
        </label>
        <label class="item item-input">
            <p><input type="password" placeholder="Confirm the Password"></p>
        </label>
        <button class="button button-block button-positive" style="background-color:#3B1365">
            Confirm
        </button>
        <p></p>
    </ion-content>
</ion-view>
