<ion-view title='<img class="navTitle" src="img/3squared-logo.png" style="max-height:60%;max-width:autodisplay:block;margin-left:auto;margin-right:auto" />'>
    <ion-content padding="true">
        <h2 style="font-family:'Avenir LT Std';color:#3B1365;font-size:30px">Welcome USER from COMPANY to the 3Squared Application Portal.</h2>
        <h3 style="font-family:'Avenir LT Std';color:#8A72A3;font-size:21px">Click on the menu button in the top-left corner to get started.</h3>

    </ion-content>
</ion-view>