
<ion-header-bar class="bar-dark">
    <img class="navTitle" src="img/3squared-logo.png" style="max-height:100%;max-width:auto;display:block;margin-left:auto;margin-right:auto"/>
</ion-header-bar>
<ion-content padding="true" scroll="false">
    <h2>Login</h2>
    <form id="loginform" ng-submit="login()">
        <div class="list-inset">
            <label class="item item-input">
                <input ng-model="USER.username" type="text" placeholder="Username" />
            </label>
            <label class="item item-input">
                <input ng-model="USER.password" type="password" placeholder="Password" id="password"/>
            </label>
            <button type="submit" block class="button button-positive button-block" style="background-color:#3B1365">LOGIN</button> <!-- When adding actual functionality, change "ui-sref" -->
        </div>
    </form>
</ion-content>