<ion-view title='<img class="navTitle" src="img/3squared-logo.png" style="max-height:60%;max-width:autodisplay:block;margin-left:auto;margin-right:auto" />'>
    <ion-content padding="true">
        <h2 style="font-family:'Avenir LT Std';color:#3B1365;text-align:center">Report Bugs</h2>
        <h3 style="font-family:'Avenir LT Std';color:#8A72A3;font-size:21px">Use the form below to report any bugs you encounter in the portal.</h3>
        <h4 style="font-family:'Avenir LT Std';color:#D6D7D8;font-size:14px">You can also call the customer service team on +44 (0)333 121 3333</h4>
    </ion-content>
</ion-view>