<ion-view title="3SQUARED Settings">
    <ion-content padding="true">
        <h2 style="font-family:verdana;color:#8A72A3;">Settings page</h2>
        <ion-list>
            <ion-toggle ng-model="settings.enableNote" onclick="$ionicPopup">
                <h3>Notifications</h3>
            </ion-toggle>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="setting in displaySett" type="item-text-wrap" href="#/tab/settings/{{setting.id}}">
                <h3>Change {{setting.name}}</h3>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>